workflows/_n8n_exports_synced/[GoalDriven] 04 Error Handler.json
{
  "name": "[GoalDriven] 04 Error Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "af17013b-4883-4936-80e5-f82c3906595f",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        2192,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "const execution = $json.execution || {};\nconst workflow = $json.workflow || {};\nreturn [{\n  json: {\n    error_id: `err_${Date.now()}`,\n    workflow_name: workflow.name || 'unknown',\n    workflow_id: workflow.id || 'unknown',\n    execution_id: execution.id || 'unknown',\n    last_node_executed: execution.lastNodeExecuted || 'unknown',\n    error_message: execution.error?.message || $json.error?.message || 'Unknown workflow error',\n    input_summary: execution.mode ? `mode=${execution.mode}` : 'summary unavailable',\n    captured_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "b08ab898-c9f9-4671-a686-60921f4d413d",
      "name": "Error Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    recovery_advice: [\n      'Review the failed execution in n8n execution history.',\n      'Inspect the last executed node and sanitized input summary.',\n      'Fix the workflow or payload, then rerun manually before reactivating automation.'\n    ],\n    notification_markdown: [\n      '# Goal-Driven Workflow Error',\n      '',\n      `- Workflow: ${$json.workflow_name}`,\n      `- Execution: ${$json.execution_id}`,\n      `- Last node: ${$json.last_node_executed}`,\n      `- Error: ${$json.error_message}`,\n      '',\n      '## Recommended recovery',\n      ...[\n        'Review the failed execution in n8n execution history.',\n        'Inspect the last executed node and sanitized input summary.',\n        'Fix the workflow or payload, then rerun manually before reactivating automation.'\n      ].map((item) => `- ${item}`)\n    ].join('\\n')\n  }\n}];"
      },
      "id": "f896dc98-4bb1-4519-b19e-e993312b464b",
      "name": "Recovery Advisor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        1280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Normalizer": {
      "main": [
        [
          {
            "node": "Recovery Advisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "046e34b0-4f6c-48f4-82bc-d8de36464699",
  "meta": {
    "instanceId": "d9c729e92b662dc5f146ef50d3d545d6cc3b31fd2f3d1ac27bbb3e7d25b09eab"
  },
  "id": "2lUgbW9fZsiCVX7l",
  "tags": []
}