workflows/_backup_before_n8n_export_sync/agent_task_executor.workflow.json
{
  "name": "Agent Task Executor Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-subworkflow-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const errors = [];\nfor (const field of ['run_id', 'task_id', 'goal', 'criteria', 'iteration', 'instruction', 'status']) {\n  if ($json[field] === undefined || $json[field] === null || $json[field] === '') {\n    errors.push(`${field} is required`);\n  }\n}\nif (!Array.isArray($json.criteria) || $json.criteria.length === 0) {\n  errors.push('criteria must contain at least one item');\n}\nreturn [{ json: { ...$json, validation_errors: errors } }];"
      },
      "id": "task-validator",
      "name": "Task Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    prompt_reference: 'src/prompts/subagent_prompt.md',\n    prompt_contract: {\n      output: 'result.schema.json',\n      format: 'json_only'\n    },\n    agent_mode: $env.AGENT_MODE || 'mock'\n  }\n}];"
      },
      "id": "prompt-builder",
      "name": "Prompt Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "if (($json.validation_errors || []).length > 0) {\n  return [{\n    json: {\n      run_id: $json.run_id || 'unknown',\n      task_id: $json.task_id || 'unknown',\n      status: 'failed',\n      summary: 'Task validation failed before execution.',\n      artifacts: [],\n      known_issues: $json.validation_errors,\n      evidence: ($json.criteria || ['task payload']).map((criterion) => ({\n        criterion,\n        status: 'fail',\n        detail: 'Executor could not run because the task payload was invalid.'\n      })),\n      next_action_suggestion: 'Fix the task payload and retry.',\n      error: {\n        code: 'TASK_VALIDATION_FAILED',\n        message: $json.validation_errors.join('; ')\n      }\n    }\n  }];\n}\n\nconst evidence = ($json.criteria || []).map((criterion, index) => ({\n  criterion,\n  status: index < 2 ? 'pass' : 'fail',\n  detail: index < 2\n    ? `Mock executor produced evidence for criterion ${index + 1}.`\n    : `Mock executor intentionally leaves criterion ${index + 1} unresolved.`\n}));\n\nreturn [{\n  json: {\n    run_id: $json.run_id,\n    task_id: $json.task_id,\n    status: evidence.every((item) => item.status === 'pass') ? 'completed' : 'partial',\n    summary: 'Mock executor completed one bounded task iteration.',\n    artifacts: ['docs/WORKFLOW_DESIGN.md'],\n    known_issues: evidence.filter((item) => item.status !== 'pass').map((item) => item.detail),\n    evidence,\n    next_action_suggestion: 'Run Criteria Checker to assess whether another iteration is required.',\n    error: null\n  }\n}];"
      },
      "id": "mock-agent-adapter",
      "name": "Mock Agent Adapter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    execution_log: {\n      logged_at: new Date().toISOString(),\n      summary: $json.summary,\n      artifact_count: ($json.artifacts || []).length,\n      issue_count: ($json.known_issues || []).length\n    }\n  }\n}];"
      },
      "id": "execution-logger",
      "name": "Execution Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Task Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Validator": {
      "main": [
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder": {
      "main": [
        [
          {
            "node": "Mock Agent Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Agent Adapter": {
      "main": [
        [
          {
            "node": "Execution Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "active": false
}

