workflows/_backup_before_n8n_export_sync/criteria_checker.workflow.json
{
  "name": "Criteria Checker Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-subworkflow-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $json.agent_result || $json.result || $json;\nconst criteria = Array.isArray($json.criteria) ? $json.criteria : [];\nconst evidence = Array.isArray(result.evidence) ? result.evidence : [];\nconst checks = criteria.map((criterion) => {\n  const item = evidence.find((entry) => entry.criterion === criterion);\n  return {\n    criterion,\n    status: item?.status || 'unknown',\n    evidence: item?.detail || 'No evidence provided.'\n  };\n});\nconst scoreMap = { pass: 1, unknown: 0.5, fail: 0 };\nconst score = checks.length === 0\n  ? 0\n  : checks.reduce((sum, item) => sum + scoreMap[item.status], 0) / checks.length;\nconst criteriaMet = checks.length > 0 && checks.every((item) => item.status === 'pass');\nconst failedCriteria = checks.filter((item) => item.status !== 'pass');\n\nreturn [{\n  json: {\n    criteria_met: criteriaMet,\n    score: Number(score.toFixed(2)),\n    checks,\n    next_iteration_instruction: criteriaMet\n      ? null\n      : failedCriteria.map((item) => `Improve criterion: ${item.criterion}`).join('; '),\n    should_stop: false,\n    stop_reason: null,\n    checker_log: {\n      checked_at: new Date().toISOString(),\n      total_criteria: checks.length,\n      failed_criteria: failedCriteria.length\n    }\n  }\n}];"
      },
      "id": "criteria-evaluator",
      "name": "Criteria Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    prompt_reference: 'src/prompts/criteria_checker_prompt.md',\n    prompt_contract: {\n      output: 'criteria_checker_result',\n      format: 'json_only'\n    }\n  }\n}];"
      },
      "id": "checker-prompt-reference",
      "name": "Checker Prompt Reference",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Criteria Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criteria Evaluator": {
      "main": [
        [
          {
            "node": "Checker Prompt Reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "active": false
}

