workflows/_backup_before_n8n_export_sync/error_handler.workflow.json
{
  "name": "Goal-Driven Error Handler Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const execution = $json.execution || {};\nconst workflow = $json.workflow || {};\nreturn [{\n  json: {\n    error_id: `err_${Date.now()}`,\n    workflow_name: workflow.name || 'unknown',\n    workflow_id: workflow.id || 'unknown',\n    execution_id: execution.id || 'unknown',\n    last_node_executed: execution.lastNodeExecuted || 'unknown',\n    error_message: execution.error?.message || $json.error?.message || 'Unknown workflow error',\n    input_summary: execution.mode ? `mode=${execution.mode}` : 'summary unavailable',\n    captured_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "error-normalizer",
      "name": "Error Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    recovery_advice: [\n      'Review the failed execution in n8n execution history.',\n      'Inspect the last executed node and sanitized input summary.',\n      'Fix the workflow or payload, then rerun manually before reactivating automation.'\n    ],\n    notification_markdown: [\n      '# Goal-Driven Workflow Error',\n      '',\n      `- Workflow: ${$json.workflow_name}`,\n      `- Execution: ${$json.execution_id}`,\n      `- Last node: ${$json.last_node_executed}`,\n      `- Error: ${$json.error_message}`,\n      '',\n      '## Recommended recovery',\n      ...[\n        'Review the failed execution in n8n execution history.',\n        'Inspect the last executed node and sanitized input summary.',\n        'Fix the workflow or payload, then rerun manually before reactivating automation.'\n      ].map((item) => `- ${item}`)\n    ].join('\\n')\n  }\n}];"
      },
      "id": "recovery-advisor",
      "name": "Recovery Advisor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Normalizer": {
      "main": [
        [
          {
            "node": "Recovery Advisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "active": false
}

