workflows/agent_task_executor.workflow.json
{
  "name": "[GoalDriven] 02 Agent Task Executor",
  "nodes": [
    {
      "parameters": {},
      "id": "b13ab5cd-e7df-4758-88fd-956dbaadcf1f",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "const errors = [];\nfor (const field of ['run_id', 'task_id', 'goal', 'criteria', 'iteration', 'instruction', 'status']) {\n  if ($json[field] === undefined || $json[field] === null || $json[field] === '') {\n    errors.push(`${field} is required`);\n  }\n}\nif (!Array.isArray($json.criteria) || $json.criteria.length === 0) {\n  errors.push('criteria must contain at least one item');\n}\nreturn [{ json: { ...$json, validation_errors: errors } }];"
      },
      "id": "34ab767a-aa85-45b0-b734-eed0cdfa6d6e",
      "name": "Task Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nconst context =\n  input.context && typeof input.context === 'object'\n    ? input.context\n    : {};\n\nconst requestedMode =\n  typeof context.provider_mode === 'string' && context.provider_mode.trim()\n    ? context.provider_mode.trim()\n    : typeof context.agent_mode === 'string' && context.agent_mode.trim()\n      ? context.agent_mode.trim()\n      : typeof input.provider_mode === 'string' && input.provider_mode.trim()\n        ? input.provider_mode.trim()\n        : typeof input.agent_mode === 'string' && input.agent_mode.trim()\n          ? input.agent_mode.trim()\n          : 'mock';\n\nconst supportedModes = new Set(['mock', 'dry-run', 'real-readonly']);\nconst resolvedMode = supportedModes.has(requestedMode)\n  ? requestedMode\n  : 'mock';\n\nconst modeWarnings = supportedModes.has(requestedMode)\n  ? []\n  : ['unknown provider mode fallback to mock'];\n\nreturn [\n  {\n    json: {\n      ...input,\n      context: {\n        ...context,\n        agent_mode: resolvedMode,\n        provider_mode: resolvedMode,\n      },\n      prompt_reference: 'src/prompts/subagent_prompt.md',\n      prompt_contract: {\n        output: 'result.schema.json',\n        format: 'json_only',\n      },\n      agent_mode: resolvedMode,\n      provider_mode: resolvedMode,\n      requested_provider_mode: requestedMode,\n      mode_warnings: modeWarnings,\n    },\n  },\n];"
      },
      "id": "41dd8d68-de84-4264-8f9e-4d911a3d52bf",
      "name": "Prompt Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "if (($json.validation_errors || []).length > 0) {\n  return [{\n    json: {\n      run_id: $json.run_id || 'unknown',\n      task_id: $json.task_id || 'unknown',\n      status: 'failed',\n      summary: 'Task validation failed before execution.',\n      artifacts: [],\n      known_issues: $json.validation_errors,\n      evidence: ($json.criteria || ['task payload']).map((criterion) => ({\n        criterion,\n        status: 'fail',\n        detail: 'Executor could not run because the task payload was invalid.'\n      })),\n      next_action_suggestion: 'Fix the task payload and retry.',\n      error: {\n        code: 'TASK_VALIDATION_FAILED',\n        message: $json.validation_errors.join('; ')\n      }\n    }\n  }];\n}\n\nconst evidence = ($json.criteria || []).map((criterion, index) => ({\n  criterion,\n  status: index < 2 ? 'pass' : 'fail',\n  detail: index < 2\n    ? `Mock executor produced evidence for criterion ${index + 1}.`\n    : `Mock executor intentionally leaves criterion ${index + 1} unresolved.`\n}));\n\nreturn [{\n  json: {\n    run_id: $json.run_id,\n    task_id: $json.task_id,\n    status: evidence.every((item) => item.status === 'pass') ? 'completed' : 'partial',\n    summary: 'Mock executor completed one bounded task iteration.',\n    artifacts: ['docs/WORKFLOW_DESIGN.md'],\n    known_issues: evidence.filter((item) => item.status !== 'pass').map((item) => item.detail),\n    evidence,\n    next_action_suggestion: 'Run Criteria Checker to assess whether another iteration is required.',\n    error: null\n  }\n}];"
      },
      "id": "fefafe83-20d7-4989-a772-b52e66914291",
      "name": "Mock Agent Adapter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\nconst agentResult =\n  input.agent_result && typeof input.agent_result === 'object'\n    ? input.agent_result\n    : {};\n\nconst artifacts = Array.isArray(agentResult.artifacts)\n  ? agentResult.artifacts\n  : [];\n\nconst knownIssues = Array.isArray(agentResult.known_issues)\n  ? agentResult.known_issues\n  : [];\n\nconst criteria = Array.isArray(input.criteria)\n  ? input.criteria\n  : [];\n\nreturn [\n  {\n    json: {\n      ...input,\n      execution_log: {\n        logged_at: new Date().toISOString(),\n        summary: agentResult.summary || 'Agent execution completed.',\n        artifact_count: artifacts.length,\n        issue_count: knownIssues.length,\n        criteria_count: criteria.length,\n        provider_mode:\n          agentResult.provider && agentResult.provider.mode\n            ? agentResult.provider.mode\n            : input.provider_mode || input.agent_mode || 'mock',\n      },\n    },\n  },\n];"
      },
      "id": "b516888e-8a4f-43d7-afcc-f09d576b486e",
      "name": "Execution Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -192
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "mode-real-readonly",
                    "leftValue": "={{ $json.provider_mode }}",
                    "rightValue": "real-readonly",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "real_readonly"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "mode-dry-run",
                    "leftValue": "={{ $json.provider_mode }}",
                    "rightValue": "dry-run",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "dry_run"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "mode-mock",
                    "leftValue": "={{ $json.provider_mode }}",
                    "rightValue": "mock",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mock"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        480,
        -192
      ],
      "id": "18919123-b5a8-453f-af7a-124219f11a8c",
      "name": "Mode Router"
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\n\nconst context =\n  input.context && typeof input.context === 'object'\n    ? input.context\n    : {};\n\nconst criteria = Array.isArray(input.criteria)\n  ? input.criteria\n  : [];\n\nconst runId =\n  input.run_id ||\n  `gd_${Date.now()}`;\n\nconst taskId =\n  input.task_id ||\n  `task_${Date.now()}`;\n\nconst riskLevel =\n  input.risk_level ||\n  context.risk_level ||\n  'low';\n\nconst evidence = criteria.map((criterion) => ({\n  criterion,\n  status: 'unknown',\n  detail: 'Dry-run generated a plan but did not execute real work.',\n}));\n\nconst intendedActions = [\n  'Review the goal and acceptance criteria.',\n  'Generate a bounded execution plan.',\n  'Identify required artifacts and expected evidence.',\n  'Request human approval before any real provider execution.',\n];\n\nreturn [\n  {\n    json: {\n      ...input,\n\n      run_id: runId,\n      task_id: taskId,\n      status: 'needs_review',\n\n      summary: 'Dry-run plan generated. No real action was executed.',\n      artifacts: [],\n      known_issues: [],\n      evidence,\n\n      dry_run_plan: {\n        goal: input.goal || '',\n        intended_actions: intendedActions,\n        risk_summary: `Dry-run only. No real action was executed. Current risk level: ${riskLevel}.`,\n        requires_human_approval_before_real_run: true,\n      },\n\n      provider: {\n        mode: 'dry-run',\n        name: 'dry-run-provider',\n        model: null,\n        request_id: null,\n        latency_ms: 0,\n      },\n\n      safety: {\n        risk_level: riskLevel,\n        requires_human_approval: true,\n        approved: false,\n        blocked_reason: 'dry-run mode does not execute real actions',\n      },\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -400
      ],
      "id": "0e43fead-3083-4aa3-9aa5-ef560806629e",
      "name": "Dry-run Provider Adapter"
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\n\nconst context =\n  input.context && typeof input.context === 'object'\n    ? input.context\n    : {};\n\nconst criteria = Array.isArray(input.criteria)\n  ? input.criteria\n  : [];\n\nconst runId =\n  input.run_id ||\n  `gd_${Date.now()}`;\n\nconst taskId =\n  input.task_id ||\n  `task_${Date.now()}`;\n\nconst riskLevel =\n  input.risk_level ||\n  context.risk_level ||\n  'low';\n\nconst evidence = criteria.map((criterion) => ({\n  criterion,\n  status: 'unknown',\n  detail: 'Real-readonly stub generated analysis but did not execute real work.',\n}));\n\nconst intendedActions = [\n  'Review the goal and acceptance criteria.',\n  'Generate a read-only implementation plan.',\n  'Identify expected evidence without executing changes.',\n  'Request human approval before any real execution mode.',\n];\n\nreturn [\n  {\n    json: {\n      ...input,\n\n      run_id: runId,\n      task_id: taskId,\n      status: 'needs_review',\n\n      summary: 'Real-readonly provider stub generated a review plan. No real action was executed.',\n      artifacts: [],\n      known_issues: [],\n      evidence,\n      intended_actions: intendedActions,\n      risk_summary: `Real-readonly stub only. No real action was executed. Current risk level: ${riskLevel}.`,\n\n      provider: {\n        mode: 'real-readonly',\n        name: 'real-readonly-stub',\n        model: null,\n        request_id: null,\n        latency_ms: 0,\n      },\n\n      safety: {\n        risk_level: riskLevel,\n        requires_human_approval: true,\n        approved: false,\n        blocked_reason: 'real-readonly mode does not execute real actions',\n      },\n    },\n  },\n];"
      },
      "id": "7a66d01c-3c34-4e4a-8c6e-c9dbf4c86d7f",
      "name": "Real-readonly Provider Adapter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -704
      ]
    },
    {
      "parameters": {
        "jsCode": "const adapterOutput = $json || {};\n\nlet taskInput = {};\ntry {\n  taskInput = $('Prompt Builder').item.json || {};\n} catch (error) {\n  taskInput = {};\n}\n\nconst context =\n  taskInput.context && typeof taskInput.context === 'object'\n    ? taskInput.context\n    : adapterOutput.context && typeof adapterOutput.context === 'object'\n      ? adapterOutput.context\n      : {};\n\nconst runId =\n  taskInput.run_id ||\n  adapterOutput.run_id ||\n  'gd_' + Date.now();\n\nconst taskId =\n  taskInput.task_id ||\n  adapterOutput.task_id ||\n  'task_' + Date.now();\n\nconst goal =\n  typeof taskInput.goal === 'string'\n    ? taskInput.goal\n    : typeof adapterOutput.goal === 'string'\n      ? adapterOutput.goal\n      : '';\n\nconst criteria = Array.isArray(taskInput.criteria)\n  ? taskInput.criteria\n  : Array.isArray(adapterOutput.criteria)\n    ? adapterOutput.criteria\n    : [];\n\nconst iteration =\n  Number.isInteger(taskInput.iteration)\n    ? taskInput.iteration\n    : Number.isInteger(adapterOutput.iteration)\n      ? adapterOutput.iteration\n      : 1;\n\nconst artifacts = Array.isArray(adapterOutput.artifacts)\n  ? adapterOutput.artifacts\n  : [];\n\nconst knownIssues = Array.isArray(adapterOutput.known_issues)\n  ? adapterOutput.known_issues\n  : [];\n\nconst evidence = Array.isArray(adapterOutput.evidence)\n  ? adapterOutput.evidence\n  : [];\n\nconst resolvedMode =\n  (adapterOutput.provider && adapterOutput.provider.mode) ||\n  taskInput.provider_mode ||\n  taskInput.agent_mode ||\n  'mock';\n\nconst provider =\n  adapterOutput.provider && typeof adapterOutput.provider === 'object'\n    ? adapterOutput.provider\n    : {\n        mode: resolvedMode,\n        name: resolvedMode === 'mock' ? 'mock-agent-adapter' : 'unknown-provider',\n        model: null,\n        request_id: null,\n        latency_ms: 0,\n      };\n\nconst riskLevel =\n  adapterOutput.safety && adapterOutput.safety.risk_level\n    ? adapterOutput.safety.risk_level\n    : taskInput.risk_level || context.risk_level || 'low';\n\nconst safety =\n  adapterOutput.safety && typeof adapterOutput.safety === 'object'\n    ? adapterOutput.safety\n    : {\n        risk_level: riskLevel,\n        requires_human_approval: resolvedMode !== 'mock',\n        approved: resolvedMode === 'mock' ? true : Boolean(taskInput.human_approved),\n        blocked_reason: resolvedMode === 'mock' ? null : 'provider mode requires explicit approval before real execution',\n      };\n\nconst dryRunPlan =\n  adapterOutput.dry_run_plan && typeof adapterOutput.dry_run_plan === 'object'\n    ? adapterOutput.dry_run_plan\n    : null;\n\nconst intendedActions = Array.isArray(adapterOutput.intended_actions)\n  ? adapterOutput.intended_actions\n  : null;\n\nconst riskSummary =\n  typeof adapterOutput.risk_summary === 'string' && adapterOutput.risk_summary.trim()\n    ? adapterOutput.risk_summary\n    : null;\n\nconst modeWarnings = Array.isArray(adapterOutput.mode_warnings)\n  ? adapterOutput.mode_warnings\n  : Array.isArray(taskInput.mode_warnings)\n    ? taskInput.mode_warnings\n    : [];\n\nreturn [\n  {\n    json: {\n      ...taskInput,\n      ...adapterOutput,\n      run_id: runId,\n      task_id: taskId,\n      goal,\n      criteria,\n      context,\n      iteration,\n      agent_result: {\n        run_id: runId,\n        task_id: taskId,\n        status: adapterOutput.status || 'failed',\n        summary: adapterOutput.summary || 'Agent execution returned no summary.',\n        artifacts,\n        known_issues: knownIssues,\n        evidence,\n        provider,\n        safety,\n        ...(dryRunPlan ? { dry_run_plan: dryRunPlan } : {}),\n        ...(intendedActions ? { intended_actions: intendedActions } : {}),\n        ...(riskSummary ? { risk_summary: riskSummary } : {}),\n        ...(modeWarnings.length > 0 ? { mode_warnings: modeWarnings } : {}),\n      },\n    },\n  },\n];"
      },
      "id": "ba64be2f-2a49-4786-84c7-d9ca696f8ea7",
      "name": "Result Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -192
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "real-readonly-provider-execution",
                    "leftValue": "={{ $json.context && $json.context.provider_execution ? $json.context.provider_execution : $json.provider_execution || 'stub' }}",
                    "rightValue": "provider",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "provider"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "real-readonly-stub-execution",
                    "leftValue": "={{ $json.context && $json.context.provider_execution ? $json.context.provider_execution : $json.provider_execution || 'stub' }}",
                    "rightValue": "stub",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stub"
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        720,
        -592
      ],
      "id": "v04d-real-readonly-provider-selector",
      "name": "Real-readonly Provider Selector"
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\nconst context =\n  input.context && typeof input.context === 'object'\n    ? input.context\n    : {};\n\nconst criteria = Array.isArray(input.criteria) ? input.criteria : [];\nconst riskLevel = input.risk_level || context.risk_level || 'low';\nconst humanApproved = Boolean(input.human_approved || context.human_approved);\nconst goalText = typeof input.goal === 'string' ? input.goal : '';\nconst criteriaText = criteria.join('\\n');\nconst combinedText = (goalText + '\\n' + criteriaText).toLowerCase();\n\nconst writeIntentPatterns = [\n  /write\\s+file/,\n  /create\\s+file/,\n  /modify\\s+file/,\n  /delete\\s+file/,\n  /run\\s+(a\\s+)?shell/,\n  /execute\\s+(a\\s+)?command/,\n  /terminal\\s+command/,\n  /git\\s+(commit|push|merge|reset|checkout)/,\n  /modify\\s+git/,\n  /deploy\\s+production/,\n  /external\\s+write/,\n];\n\nconst blockedReasons = [];\nif (String(riskLevel).toLowerCase() === 'high' && !humanApproved) {\n  blockedReasons.push('high_risk_requires_human_approval');\n}\nif (writeIntentPatterns.some((pattern) => pattern.test(combinedText))) {\n  blockedReasons.push('write_or_execution_intent_detected');\n}\n\nconst endpoint =\n  context.openai_compatible_base_url ||\n  context.provider_endpoint ||\n  input.openai_compatible_base_url ||\n  input.provider_endpoint ||\n  '';\n\nconst model =\n  context.openai_compatible_model ||\n  context.provider_model ||\n  input.openai_compatible_model ||\n  input.provider_model ||\n  '{{ $env.OPENAI_COMPATIBLE_MODEL }}';\n\nconst credentialName =\n  context.provider_credential_name ||\n  input.provider_credential_name ||\n  'goald-openai-compatible-readonly';\n\nconst credentialReady =\n  context.provider_credential_ready === true ||\n  input.provider_credential_ready === true;\n\nconst providerConfig = {\n  interface: 'openai-compatible',\n  mode: 'real-readonly',\n  endpoint_env: 'OPENAI_COMPATIBLE_BASE_URL',\n  model_env: 'OPENAI_COMPATIBLE_MODEL',\n  endpoint_placeholder: endpoint || '{{ $env.OPENAI_COMPATIBLE_BASE_URL }}',\n  endpoint_configured: Boolean(endpoint),\n  credential_name: credentialName,\n  credential_reference_only: true,\n  credential_ready: credentialReady,\n  model,\n  timeout_ms: Number(context.provider_timeout_ms || input.provider_timeout_ms || 30000),\n};\n\nreturn [\n  {\n    json: {\n      ...input,\n      provider_execution: 'provider',\n      provider_config: providerConfig,\n      provider_safety_check: {\n        read_only: true,\n        blocked: blockedReasons.length > 0,\n        blocked_reasons: blockedReasons,\n      },\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -480
      ],
      "id": "v04d-real-readonly-safety-check",
      "name": "Real-readonly Safety Check"
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\nconst context =\n  input.context && typeof input.context === 'object'\n    ? input.context\n    : {};\n\nconst criteria = Array.isArray(input.criteria) ? input.criteria : [];\nconst providerConfig =\n  input.provider_config && typeof input.provider_config === 'object'\n    ? input.provider_config\n    : {};\nconst safetyCheck =\n  input.provider_safety_check && typeof input.provider_safety_check === 'object'\n    ? input.provider_safety_check\n    : { blocked: true, blocked_reasons: ['provider_safety_check_missing'] };\n\nconst baseProvider = {\n  mode: 'real-readonly',\n  name: 'openai-compatible-readonly',\n  model: providerConfig.model || null,\n  request_id: null,\n  latency_ms: 0,\n};\n\nconst baseSafety = {\n  risk_level: input.risk_level || context.risk_level || 'low',\n  requires_human_approval: true,\n  approved: false,\n  blocked_reason: null,\n};\n\nfunction fallback(reason, summary, status = 'needs_review') {\n  return [{\n    json: {\n      ...input,\n      status,\n      summary,\n      artifacts: [],\n      known_issues: [reason],\n      evidence: criteria.map((criterion) => ({\n        criterion,\n        status: 'unknown',\n        detail: 'OpenAI-compatible real-readonly provider path did not execute because ' + reason + '.',\n      })),\n      intended_actions: [],\n      risk_summary: 'Provider path stopped safely before any real action. No file write, shell execution, Git modification, or external write action occurred.',\n      provider: baseProvider,\n      safety: {\n        ...baseSafety,\n        blocked_reason: reason,\n      },\n      provider_error: {\n        code: reason,\n        message: summary,\n      },\n    }\n  }];\n}\n\nif (safetyCheck.blocked) {\n  return fallback(\n    'safety_check_failed',\n    'Real-readonly provider call blocked by safety check: ' + (safetyCheck.blocked_reasons || []).join(', '),\n    'needs_review'\n  );\n}\n\nif (!providerConfig.endpoint_configured) {\n  return fallback(\n    'provider_endpoint_missing',\n    'Real-readonly provider endpoint is not configured.',\n    'needs_review'\n  );\n}\n\nif (!providerConfig.credential_ready) {\n  return fallback(\n    'provider_credential_missing',\n    'Real-readonly provider credential is missing or has not been confirmed in n8n.',\n    'needs_review'\n  );\n}\n\nconst providerRequest = {\n  model: providerConfig.model,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a read-only planning and evidence generation adapter. Do not execute commands, write files, modify Git, call external write APIs, or claim that work was executed. Return JSON only.',\n    },\n    {\n      role: 'user',\n      content: {\n        mode: 'real-readonly',\n        goal: input.goal || '',\n        criteria,\n        iteration: input.iteration || 1,\n        constraints: [\n          'Do not execute commands.',\n          'Do not write files.',\n          'Do not modify Git.',\n          'Do not call external write APIs.',\n          'Return structured JSON only.',\n        ],\n        expected_output: {\n          summary: 'string',\n          intended_actions: ['string'],\n          evidence: [\n            {\n              criterion: 'string',\n              status: 'pass | fail | unknown',\n              detail: 'string',\n            },\n          ],\n          risk_summary: 'string',\n        },\n      },\n    },\n  ],\n  temperature: 0.2,\n  response_format: {\n    type: 'json_object',\n  },\n};\n\nreturn [{\n  json: {\n    ...input,\n    provider_request: providerRequest,\n    provider_call_status: 'prepared_not_sent',\n    provider_response_raw: null,\n    provider_error: {\n      code: 'provider_call_disabled_in_repo_template',\n      message: 'The OpenAI-compatible request was prepared but not sent by the repository workflow template.',\n    },\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -480
      ],
      "id": "v04d-openai-compatible-provider-request-builder",
      "name": "OpenAI-compatible Provider Request Builder"
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\nconst context =\n  input.context && typeof input.context === 'object'\n    ? input.context\n    : {};\nconst criteria = Array.isArray(input.criteria) ? input.criteria : [];\nconst providerConfig =\n  input.provider_config && typeof input.provider_config === 'object'\n    ? input.provider_config\n    : {};\n\nconst provider =\n  input.provider && typeof input.provider === 'object'\n    ? input.provider\n    : {\n        mode: 'real-readonly',\n        name: 'openai-compatible-readonly',\n        model: providerConfig.model || null,\n        request_id: null,\n        latency_ms: 0,\n      };\n\nconst baseSafety = {\n  risk_level: input.risk_level || context.risk_level || 'low',\n  requires_human_approval: true,\n  approved: false,\n  blocked_reason: null,\n};\n\nfunction normalizeEvidence(rawEvidence) {\n  if (!Array.isArray(rawEvidence)) {\n    return criteria.map((criterion) => ({\n      criterion,\n      status: 'unknown',\n      detail: 'Provider did not return evidence for this criterion.',\n    }));\n  }\n\n  const allowed = new Set(['pass', 'fail', 'unknown']);\n  return rawEvidence.map((item, index) => {\n    const status = allowed.has(item && item.status) ? item.status : 'unknown';\n    return {\n      criterion: item && item.criterion ? item.criterion : criteria[index] || 'criterion_' + (index + 1),\n      status,\n      detail: item && item.detail ? item.detail : 'Provider evidence detail was missing.',\n    };\n  });\n}\n\nfunction safeResult(reason, summary, status = 'needs_review') {\n  return [{\n    json: {\n      ...input,\n      status,\n      summary,\n      artifacts: [],\n      known_issues: [reason],\n      evidence: normalizeEvidence(input.evidence),\n      intended_actions: Array.isArray(input.intended_actions) ? input.intended_actions : [],\n      risk_summary: input.risk_summary || 'Provider path stopped safely before execution.',\n      provider,\n      safety: {\n        ...baseSafety,\n        ...(input.safety && typeof input.safety === 'object' ? input.safety : {}),\n        blocked_reason: reason,\n      },\n    }\n  }];\n}\n\nif (input.provider_error && input.provider_error.code) {\n  const code = input.provider_error.code;\n  return safeResult(code, input.summary || input.provider_error.message || 'Provider path returned a safe fallback.', input.status || 'needs_review');\n}\n\nlet content = input.provider_response_content || input.provider_response_raw || null;\nif (typeof content === 'string') {\n  try {\n    content = JSON.parse(content);\n  } catch (error) {\n    return safeResult('provider_invalid_json', 'Provider returned invalid JSON.', 'failed');\n  }\n}\n\nif (!content || typeof content !== 'object') {\n  return safeResult('provider_response_missing', 'Provider response was missing.', 'failed');\n}\n\nconst summary =\n  typeof content.summary === 'string' && content.summary.trim()\n    ? content.summary\n    : 'Provider returned no summary.';\nconst intendedActions = Array.isArray(content.intended_actions)\n  ? content.intended_actions\n  : [];\nconst evidence = normalizeEvidence(content.evidence);\nconst riskSummary =\n  typeof content.risk_summary === 'string' && content.risk_summary.trim()\n    ? content.risk_summary\n    : 'Risk summary was not provided by the provider.';\n\nreturn [{\n  json: {\n    ...input,\n    status: 'needs_review',\n    summary,\n    artifacts: [],\n    known_issues: [],\n    evidence,\n    intended_actions: intendedActions,\n    risk_summary: riskSummary,\n    provider,\n    safety: {\n      ...baseSafety,\n      ...(input.safety && typeof input.safety === 'object' ? input.safety : {}),\n      requires_human_approval: true,\n      approved: false,\n      blocked_reason: null,\n    },\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -480
      ],
      "id": "v04d-provider-response-normalizer",
      "name": "Provider Response Normalizer"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Task Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Validator": {
      "main": [
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder": {
      "main": [
        [
          {
            "node": "Mode Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mode Router": {
      "main": [
        [
          {
            "node": "Real-readonly Provider Selector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dry-run Provider Adapter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Agent Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Agent Adapter": {
      "main": [
        [
          {
            "node": "Result Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dry-run Provider Adapter": {
      "main": [
        [
          {
            "node": "Result Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Real-readonly Provider Adapter": {
      "main": [
        [
          {
            "node": "Result Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result Normalizer": {
      "main": [
        [
          {
            "node": "Execution Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Real-readonly Provider Selector": {
      "main": [
        [
          {
            "node": "Real-readonly Safety Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Real-readonly Provider Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Real-readonly Safety Check": {
      "main": [
        [
          {
            "node": "OpenAI-compatible Provider Request Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI-compatible Provider Request Builder": {
      "main": [
        [
          {
            "node": "Provider Response Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider Response Normalizer": {
      "main": [
        [
          {
            "node": "Result Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1f528ee7-01e6-4fa9-ac78-ab25b950357c",
  "meta": {
    "instanceId": "d9c729e92b662dc5f146ef50d3d545d6cc3b31fd2f3d1ac27bbb3e7d25b09eab"
  },
  "id": "0ZnWCVvMibFKcFD8",
  "tags": [
    {
      "updatedAt": "2026-05-16T10:56:00.194Z",
      "createdAt": "2026-05-16T10:56:00.194Z",
      "id": "TOjNhCQb3cHP6KAF",
      "name": "自动工作流"
    }
  ]
}
