workflows/criteria_checker.workflow.json
{
  "name": "[GoalDriven] 03 Criteria Checker",
  "nodes": [
    {
      "parameters": {},
      "id": "f8591e7a-2db8-46bd-b055-293a831801f6",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\n\nfunction isObject(value) {\n  return value !== null && typeof value === 'object' && !Array.isArray(value);\n}\n\nconst agentResult =\n  isObject(input.agent_result)\n    ? input.agent_result\n    : isObject(input.result)\n      ? input.result\n      : input;\n\nconst criteria = Array.isArray(input.criteria)\n  ? input.criteria\n  : Array.isArray(agentResult.criteria)\n    ? agentResult.criteria\n    : [];\n\nconst evidenceCandidates = [];\nfunction addEvidenceItems(items) {\n  if (Array.isArray(items)) evidenceCandidates.push(...items);\n}\naddEvidenceItems(agentResult.evidence);\nif (agentResult !== input) addEvidenceItems(input.evidence);\nif (agentResult !== input.agent_result && isObject(input.agent_result)) {\n  addEvidenceItems(input.agent_result.evidence);\n}\n\nfunction normalizeText(value) {\n  return String(value || '')\n    .toLowerCase()\n    .replace(/[\"'“”‘’]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalizeStatus(value) {\n  const status = normalizeText(value);\n  return ['pass', 'fail', 'unknown'].includes(status) ? status : 'unknown';\n}\n\nfunction evidenceDetail(item) {\n  if (!item || typeof item !== 'object') return '';\n  return item.detail || item.evidence || item.summary || item.reason || '';\n}\n\nconst normalizedEvidence = evidenceCandidates\n  .filter((item) => item && typeof item === 'object')\n  .map((item, index) => ({\n    ...item,\n    __index: index,\n    __criterion_normalized: normalizeText(item.criterion),\n    status: normalizeStatus(item.status),\n  }));\n\nfunction findEvidenceForCriterion(criterion, index) {\n  const normalizedCriterion = normalizeText(criterion);\n\n  const exact = normalizedEvidence.find((item) => item.criterion === criterion);\n  if (exact) return { item: exact, match_type: 'exact' };\n\n  const normalized = normalizedEvidence.find(\n    (item) => item.__criterion_normalized && item.__criterion_normalized === normalizedCriterion\n  );\n  if (normalized) return { item: normalized, match_type: 'normalized' };\n\n  const indexed = normalizedEvidence[index];\n  if (indexed) return { item: indexed, match_type: 'index_fallback' };\n\n  return { item: null, match_type: 'missing' };\n}\n\nconst providerContextParts = [];\nif (typeof agentResult.summary === 'string' && agentResult.summary.trim()) {\n  providerContextParts.push(`summary: ${agentResult.summary.trim()}`);\n}\nif (Array.isArray(agentResult.intended_actions) && agentResult.intended_actions.length > 0) {\n  providerContextParts.push(`intended_actions: ${agentResult.intended_actions.join('; ')}`);\n}\nif (typeof agentResult.risk_summary === 'string' && agentResult.risk_summary.trim()) {\n  providerContextParts.push(`risk_summary: ${agentResult.risk_summary.trim()}`);\n}\nconst providerContext = providerContextParts.join(' | ');\n\nconst checks = criteria.map((criterion, index) => {\n  const { item, match_type } = findEvidenceForCriterion(criterion, index);\n\n  if (item) {\n    return {\n      criterion,\n      status: item.status || 'unknown',\n      evidence:\n        evidenceDetail(item) ||\n        providerContext ||\n        `Evidence item matched by ${match_type}, but no detail was provided.`,\n      match_type,\n      provider_evidence_criterion: item.criterion || null,\n    };\n  }\n\n  return {\n    criterion,\n    status: 'unknown',\n    evidence:\n      providerContext ||\n      `No evidence provided for criterion ${index + 1}.`,\n    match_type: providerContext ? 'provider_context_fallback' : 'missing',\n    provider_evidence_criterion: null,\n  };\n});\n\nconst scoreMap = {\n  pass: 1,\n  unknown: 0.5,\n  fail: 0,\n};\n\nconst score =\n  checks.length === 0\n    ? 0\n    : checks.reduce((sum, item) => {\n        return sum + (scoreMap[item.status] ?? 0);\n      }, 0) / checks.length;\n\nconst criteriaMet =\n  checks.length > 0 && checks.every((item) => item.status === 'pass');\n\nconst failedCriteria = checks.filter((item) => item.status !== 'pass');\n\nconst runId =\n  input.run_id ||\n  agentResult.run_id ||\n  `gd_${Date.now()}`;\n\nconst taskId =\n  input.task_id ||\n  agentResult.task_id ||\n  `task_${Date.now()}`;\n\nconst iteration =\n  Number.isInteger(input.iteration)\n    ? input.iteration\n    : Number.isInteger(agentResult.iteration)\n      ? agentResult.iteration\n      : 1;\n\nconst nextIterationInstruction = criteriaMet\n  ? null\n  : failedCriteria\n      .map((item) => `Improve criterion: ${item.criterion}`)\n      .join('; ');\n\nconst criteriaResult = {\n  criteria_met: criteriaMet,\n  score: Number(score.toFixed(2)),\n  checks,\n  next_iteration_instruction: nextIterationInstruction,\n  should_stop: false,\n  stop_reason: null,\n  checker_log: {\n    checked_at: new Date().toISOString(),\n    total_criteria: checks.length,\n    failed_criteria: failedCriteria.length,\n    evidence_items_seen: normalizedEvidence.length,\n    provider_context_available: Boolean(providerContext),\n  },\n};\n\nreturn [\n  {\n    json: {\n      ...input,\n\n      run_id: runId,\n      task_id: taskId,\n      goal: input.goal || agentResult.goal || '',\n      criteria,\n      iteration,\n      agent_result: agentResult,\n\n      ...criteriaResult,\n\n      criteria_result: criteriaResult,\n    },\n  },\n];"
      },
      "id": "d3dd7ef6-003d-4c21-a997-f8d42833fb80",
      "name": "Criteria Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    prompt_reference: 'src/prompts/criteria_checker_prompt.md',\n    prompt_contract: {\n      output: 'criteria_checker_result',\n      format: 'json_only'\n    }\n  }\n}];"
      },
      "id": "b7cbacc6-3ac9-4051-8a4a-e88611eee9f4",
      "name": "Checker Prompt Reference",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Criteria Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criteria Evaluator": {
      "main": [
        [
          {
            "node": "Checker Prompt Reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "23d1ec90-a71e-4d19-8ac4-2d863f4a226f",
  "meta": {
    "instanceId": "d9c729e92b662dc5f146ef50d3d545d6cc3b31fd2f3d1ac27bbb3e7d25b09eab"
  },
  "id": "4NeT6zNvKQZRdCP0",
  "tags": []
}
