workflows/goal_driven_master.workflow.json
{
  "name": "[GoalDriven] 01 Master",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "goal-driven-master",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ea4681cd-5670-476d-b837-e11f4f386933",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        128
      ],
      "webhookId": "74ed0dbf-45a6-4076-a5dd-b50818f37452"
    },
    {
      "parameters": {
        "jsCode": "const rawInput = $json.body ?? $json;\n\nlet input = rawInput;\nif (typeof rawInput === 'string') {\n  try {\n    input = JSON.parse(rawInput);\n  } catch (error) {\n    input = {};\n  }\n}\n\nconst context =\n  input.context && typeof input.context === 'object' && !Array.isArray(input.context)\n    ? input.context\n    : {};\n\nconst DEFAULTS = {\n  agent_mode: 'mock',\n  max_iterations: 5,\n  timeout_minutes: 30,\n  manual_approval_required: true,\n  action_class: 'read_only',\n};\n\nconst ACTION_POLICIES = {\n  read_only: {\n    permission_level: 'read_only',\n    requires_human_approval: false,\n    forbidden: false,\n    reason: 'Read-only analysis may proceed after payload validation.',\n  },\n  local_draft: {\n    permission_level: 'draft',\n    requires_human_approval: false,\n    approval_recommended: true,\n    forbidden: false,\n    reason: 'Draft generation is allowed but should remain reviewable.',\n  },\n  repo_write: {\n    permission_level: 'write_action',\n    requires_human_approval: true,\n    forbidden: false,\n    reason: 'Repository write-like actions require explicit human approval before dispatch.',\n  },\n  shell_command: {\n    permission_level: 'forbidden',\n    requires_human_approval: true,\n    forbidden: true,\n    reason: 'Shell command execution is forbidden before a controlled execution adapter exists.',\n  },\n  git_operation: {\n    permission_level: 'forbidden',\n    requires_human_approval: true,\n    forbidden: true,\n    reason: 'Git operations are forbidden before an explicit controlled execution and approval design exists.',\n  },\n  external_write: {\n    permission_level: 'forbidden',\n    requires_human_approval: true,\n    forbidden: true,\n    reason: 'External write actions are forbidden before a controlled execution adapter exists.',\n  },\n  deployment: {\n    permission_level: 'forbidden',\n    requires_human_approval: true,\n    forbidden: true,\n    reason: 'Deployment or production activation is forbidden before controlled execution boundaries are implemented.',\n  },\n};\n\nconst toInteger = (value, fallback) => {\n  if (Number.isInteger(value)) return value;\n\n  if (typeof value === 'string' && value.trim() !== '') {\n    const parsed = Number(value);\n    if (Number.isInteger(parsed)) return parsed;\n  }\n\n  return fallback;\n};\n\nconst normalizeActionClass = (value) =>\n  typeof value === 'string'\n    ? value.trim().toLowerCase().replace(/[\\s-]+/g, '_')\n    : '';\n\nconst inferActionClassFromGoal = (goalText) => {\n  const text = String(goalText || '').toLowerCase();\n\n  if (/\\b(git\\s+(commit|push|reset|tag|merge|rebase)|commit\\s+to\\s+git|push\\s+to\\s+github)\\b/.test(text)) {\n    return 'git_operation';\n  }\n\n  if (/\\b(shell|terminal|bash|zsh|run\\s+command|execute\\s+command|rm\\s+-rf|chmod|sudo)\\b/.test(text)) {\n    return 'shell_command';\n  }\n\n  if (/\\b(deploy|activate\\s+production|publish\\s+production|release\\s+to\\s+prod)\\b/.test(text)) {\n    return 'deployment';\n  }\n\n  if (/\\b(send\\s+email|post\\s+to|update\\s+crm|create\\s+ticket|external\\s+write|write\\s+api)\\b/.test(text)) {\n    return 'external_write';\n  }\n\n  if (/\\b(modify\\s+file|write\\s+file|edit\\s+repo|change\\s+code|apply\\s+patch|update\\s+workflow\\s+json)\\b/.test(text)) {\n    return 'repo_write';\n  }\n\n  if (/\\b(draft|proposal|plan|outline)\\b/.test(text)) {\n    return 'local_draft';\n  }\n\n  return DEFAULTS.action_class;\n};\n\nconst goal = typeof input.goal === 'string' ? input.goal.trim() : '';\n\nconst criteria = Array.isArray(input.criteria)\n  ? input.criteria.map((item) => String(item).trim()).filter(Boolean)\n  : [];\n\nconst maxIterations = toInteger(\n  input.max_iterations,\n  DEFAULTS.max_iterations\n);\n\nconst timeoutMinutes = toInteger(\n  input.timeout_minutes,\n  DEFAULTS.timeout_minutes\n);\n\nconst riskLevel = ['low', 'medium', 'high'].includes(input.risk_level)\n  ? input.risk_level\n  : ['low', 'medium', 'high'].includes(context.risk_level)\n    ? context.risk_level\n    : 'low';\n\nconst requestedActionClass =\n  normalizeActionClass(input.action_class) ||\n  normalizeActionClass(context.action_class) ||\n  inferActionClassFromGoal(goal);\n\nconst actionClass = ACTION_POLICIES[requestedActionClass]\n  ? requestedActionClass\n  : DEFAULTS.action_class;\n\nconst actionPolicy = ACTION_POLICIES[actionClass];\nconst invalidActionClass = Boolean(requestedActionClass && !ACTION_POLICIES[requestedActionClass]);\n\nconst requireHumanApprovalInput =\n  typeof input.require_human_approval === 'boolean'\n    ? input.require_human_approval\n    : typeof input.manual_approval_required === 'boolean'\n      ? input.manual_approval_required\n      : typeof context.require_human_approval === 'boolean'\n        ? context.require_human_approval\n        : typeof context.manual_approval_required === 'boolean'\n          ? context.manual_approval_required\n          : DEFAULTS.manual_approval_required;\n\nconst humanApproved = Boolean(input.human_approved || context.human_approved);\n\nconst errors = [];\n\nif (!goal) {\n  errors.push('goal is required');\n}\n\nif (criteria.length === 0) {\n  errors.push('criteria must contain at least one item');\n}\n\nif (!Number.isInteger(maxIterations) || maxIterations < 1 || maxIterations > 5) {\n  errors.push('max_iterations must be an integer between 1 and 5');\n}\n\nif (!Number.isInteger(timeoutMinutes) || timeoutMinutes < 1 || timeoutMinutes > 30) {\n  errors.push('timeout_minutes must be an integer between 1 and 30');\n}\n\nif (invalidActionClass) {\n  errors.push('action_class must be one of: ' + Object.keys(ACTION_POLICIES).join(', '));\n}\n\nconst riskRequiresApproval = ['medium', 'high'].includes(riskLevel);\nconst actionRequiresApproval = Boolean(actionPolicy.requires_human_approval);\nconst requiresHumanApproval = Boolean(\n  requireHumanApprovalInput || riskRequiresApproval || actionRequiresApproval\n);\nconst forbiddenAction = Boolean(actionPolicy.forbidden);\nconst requiresApprovalNow =\n  !forbiddenAction &&\n  errors.length === 0 &&\n  (riskRequiresApproval || actionRequiresApproval) &&\n  !humanApproved;\n\nconst approvalReason = errors.length > 0\n  ? 'Request failed payload validation before approval evaluation.'\n  : forbiddenAction\n    ? actionPolicy.reason\n    : requiresApprovalNow\n      ? (riskRequiresApproval\n          ? 'Medium or high risk action requires explicit human approval before executor dispatch.'\n          : actionPolicy.reason)\n      : humanApproved && (riskRequiresApproval || actionRequiresApproval)\n        ? 'Explicit human approval is present for this gated action.'\n        : actionPolicy.reason;\n\nconst decision = errors.length > 0\n  ? 'invalid_request'\n  : forbiddenAction\n    ? 'forbidden'\n    : requiresApprovalNow\n      ? 'needs_human_approval'\n      : humanApproved && (riskRequiresApproval || actionRequiresApproval)\n        ? 'approved'\n        : 'allow';\n\nconst approvalDecision = {\n  decision,\n  risk_level: riskLevel,\n  action_class: actionClass,\n  permission_level: actionPolicy.permission_level,\n  requires_human_approval: requiresHumanApproval,\n  approved: humanApproved,\n  blocked: ['invalid_request', 'forbidden', 'needs_human_approval'].includes(decision),\n  reason: approvalReason,\n  approval_required_reason: requiresApprovalNow ? approvalReason : null,\n  forbidden_reason: forbiddenAction ? actionPolicy.reason : null,\n  approval_package: {\n    goal,\n    criteria_count: criteria.length,\n    risk_level: riskLevel,\n    action_class: actionClass,\n    permission_level: actionPolicy.permission_level,\n    requested_mode: input.provider_mode || input.agent_mode || context.provider_mode || context.agent_mode || DEFAULTS.agent_mode,\n    limits: {\n      max_iterations: maxIterations,\n      timeout_minutes: timeoutMinutes,\n    },\n    safety_boundaries: [\n      'provider output is review material, not execution authority',\n      'no file write is enabled',\n      'no shell execution is enabled',\n      'no Git modification is enabled',\n      'no external write action is enabled',\n    ],\n  },\n};\n\nconst status = errors.length > 0\n  ? 'invalid_request'\n  : forbiddenAction\n    ? 'forbidden_request'\n    : requiresApprovalNow\n      ? 'needs_human_approval'\n      : 'validated';\n\nreturn [\n  {\n    json: {\n      goal,\n      criteria,\n      context,\n      agent_mode: input.agent_mode || context.agent_mode || DEFAULTS.agent_mode,\n      provider_mode: input.provider_mode || context.provider_mode || undefined,\n      provider_execution: input.provider_execution || context.provider_execution || undefined,\n      max_iterations: maxIterations,\n      timeout_minutes: timeoutMinutes,\n      require_human_approval: requiresHumanApproval,\n      manual_approval_required: requiresHumanApproval,\n      human_approved: humanApproved,\n      risk_level: riskLevel,\n      action_class: actionClass,\n      permission_level: actionPolicy.permission_level,\n      validation_errors: errors,\n      forbidden_action_detected: forbiddenAction,\n      requires_approval_now: requiresApprovalNow,\n      approval_decision: approvalDecision,\n      status,\n    },\n  },\n];"
      },
      "id": "37e5fb99-5713-4aa2-830d-ef9e4317f519",
      "name": "Payload Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c49baad4-caed-4794-9401-11235f86a2f6",
              "leftValue": "={{ $json.status }}",
              "rightValue": "validated",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b2ece06-cf75-4155-8224-929ef150c986",
      "name": "Approval or Invalid Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst compactDate = now.toISOString().replace(/[-:.TZ]/g, '').slice(0, 14);\nconst runId = `gd_${compactDate}_${Math.random().toString(36).slice(2, 6)}`;\nconst taskId = `task_${compactDate}_001`;\n\nreturn [{\n  json: {\n    ...$json,\n    run_id: runId,\n    task_id: taskId,\n    iteration: 1,\n    instruction: `Work toward the goal and satisfy the criteria: ${$json.goal}`,\n    previous_feedback: '',\n    requires_human_approval: $json.require_human_approval,\n    status: 'initialized'\n  }\n}];"
      },
      "id": "cbd1b717-9789-49bc-8016-cf15b6c6757f",
      "name": "Task Initializer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    executor_dispatch: {\n      target_workflow: 'agent_task_executor.workflow.json',\n      workflow_id_placeholder: '{{ $env.N8N_EXECUTOR_WORKFLOW_ID }}',\n      transport: 'execute_subworkflow',\n      note: 'After import, bind this dispatcher to the imported Agent Task Executor workflow in n8n.'\n    },\n    status: 'dispatched'\n  }\n}];"
      },
      "id": "da91c59a-651b-4f2b-8063-8188eaf79525",
      "name": "Agent Dispatcher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        288
      ],
      "notes": "Manual wiring placeholder: after import, replace or connect this step with Execute Sub-workflow → Agent Task Executor Workflow."
    },
    {
      "parameters": {
        "jsCode": "const checks = ($json.criteria || []).map((criterion) => {\n  const evidence = ($json.agent_result?.evidence || []).find((item) => item.criterion === criterion);\n  return {\n    criterion,\n    status: evidence?.status || 'unknown',\n    evidence: evidence?.detail || 'No evidence provided.'\n  };\n});\nconst scoreMap = { pass: 1, unknown: 0.5, fail: 0 };\nconst score = checks.length === 0\n  ? 0\n  : checks.reduce((sum, item) => sum + scoreMap[item.status], 0) / checks.length;\nconst criteriaMet = checks.length > 0 && checks.every((item) => item.status === 'pass');\nconst canRetry = !criteriaMet && $json.iteration < $json.max_iterations;\nconst nextInstruction = criteriaMet\n  ? null\n  : checks\n      .filter((item) => item.status !== 'pass')\n      .map((item) => `Improve criterion: ${item.criterion}`)\n      .join('; ');\n\nreturn [{\n  json: {\n    ...$json,\n    checker_dispatch: {\n      target_workflow: 'criteria_checker.workflow.json',\n      workflow_id_placeholder: '{{ $env.N8N_CRITERIA_CHECKER_WORKFLOW_ID }}',\n      transport: 'execute_subworkflow',\n      note: 'After import, bind this checker call to the imported Criteria Checker workflow in n8n.'\n    },\n    criteria_result: {\n      criteria_met: criteriaMet,\n      score: Number(score.toFixed(2)),\n      checks,\n      next_iteration_instruction: nextInstruction,\n      should_stop: !criteriaMet && !canRetry,\n      stop_reason: !criteriaMet && !canRetry ? 'max_iterations_reached' : null\n    },\n    status: criteriaMet\n      ? 'completed'\n      : canRetry\n        ? 'needs_iteration'\n        : 'max_iterations_reached'\n  }\n}];"
      },
      "id": "22d9f387-1c9e-4de2-bf40-baf9768b8fac",
      "name": "Criteria Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        288
      ],
      "notes": "Manual wiring placeholder: after import, replace or connect this step with Execute Sub-workflow → Criteria Checker Workflow."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.criteria_result.criteria_met }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "0e344a14-ace4-4d3d-a074-b5301aec71c8",
      "name": "Criteria Met Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1056,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\n\nconst agentResult =\n  input.agent_result && typeof input.agent_result === 'object'\n    ? input.agent_result\n    : {};\n\nconst criteriaResult =\n  input.criteria_result && typeof input.criteria_result === 'object'\n    ? input.criteria_result\n    : input;\n\nconst artifacts = Array.isArray(agentResult.artifacts)\n  ? agentResult.artifacts\n  : Array.isArray(input.artifacts)\n    ? input.artifacts\n    : [];\n\nconst checks = Array.isArray(criteriaResult.checks)\n  ? criteriaResult.checks\n  : Array.isArray(input.checks)\n    ? input.checks\n    : [];\n\nconst runId =\n  input.run_id ||\n  agentResult.run_id ||\n  criteriaResult.run_id ||\n  `gd_${Date.now()}`;\n\nconst taskId =\n  input.task_id ||\n  agentResult.task_id ||\n  criteriaResult.task_id ||\n  null;\n\nconst iteration =\n  Number.isInteger(input.iteration)\n    ? input.iteration\n    : Number.isInteger(criteriaResult.iteration)\n      ? criteriaResult.iteration\n      : 1;\n\nconst criteriaMet = Boolean(\n  input.criteria_met ?? criteriaResult.criteria_met\n);\n\nconst score =\n  typeof input.score === 'number'\n    ? input.score\n    : typeof criteriaResult.score === 'number'\n      ? criteriaResult.score\n      : 0;\n\nreturn [\n  {\n    json: {\n      ...input,\n      run_id: runId,\n      task_id: taskId,\n      status: 'completed',\n      criteria_met: criteriaMet,\n      iterations: iteration,\n      criteria_result: {\n        criteria_met: criteriaMet,\n        score,\n        checks,\n        should_stop: Boolean(input.should_stop),\n        stop_reason: input.stop_reason ?? null,\n        next_iteration_instructions: input.next_iteration_instructions ?? null,\n      },\n      final_report: {\n        summary: criteriaMet\n          ? 'All criteria passed in the current mock orchestration run.'\n          : 'Criteria were not fully met in the current mock orchestration run.',\n        artifacts,\n        checks,\n      },\n      next_action: criteriaMet ? 'stop' : 'revise_and_retry',\n    },\n  },\n];"
      },
      "id": "3de07ed8-8e98-4358-92d5-105fe9842e73",
      "name": "Final Reporter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    run_id: $json.run_id,\n    status: $json.status,\n    criteria_met: false,\n    iterations: $json.iteration,\n    next_iteration_instruction: $json.criteria_result.next_iteration_instruction,\n    retry_allowed: !$json.criteria_result.should_stop,\n    stop_reason: $json.criteria_result.stop_reason,\n    next_action: $json.criteria_result.should_stop ? 'finalize_failed_run' : 'dispatch_next_iteration',\n    approval_decision: $json.approval_decision || null\n  }\n}];"
      },
      "id": "b813a633-ef0b-485c-b878-913a81798fa6",
      "name": "Retry or Stop Reporter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const approvalDecision =\n  $json.approval_decision && typeof $json.approval_decision === 'object'\n    ? $json.approval_decision\n    : {\n        decision: $json.status === 'needs_human_approval' ? 'needs_human_approval' : 'invalid_request',\n        risk_level: $json.risk_level || 'low',\n        action_class: $json.action_class || 'read_only',\n        permission_level: $json.permission_level || 'read_only',\n        requires_human_approval: $json.requires_approval_now || false,\n        approved: Boolean($json.human_approved),\n        blocked: true,\n        reason: 'Request stopped before task initialization.',\n      };\n\nreturn [{\n  json: {\n    status: $json.status,\n    validation_errors: $json.validation_errors || [],\n    risk_level: $json.risk_level || approvalDecision.risk_level,\n    action_class: $json.action_class || approvalDecision.action_class,\n    permission_level: $json.permission_level || approvalDecision.permission_level,\n    requires_human_approval: $json.requires_approval_now || approvalDecision.requires_human_approval || false,\n    forbidden_action_detected: Boolean($json.forbidden_action_detected),\n    approval_decision: approvalDecision,\n    note: $json.status === 'needs_human_approval'\n      ? 'Manual approval is required before dispatching work.'\n      : $json.status === 'forbidden_request'\n        ? 'Forbidden action rejected before task initialization.'\n        : 'Request rejected before task initialization.'\n  }\n}];"
      },
      "id": "d90cb4e7-3edc-4f10-a063-047fdfb27154",
      "name": "Blocked Response Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "0bb591c1-afd5-4997-a6bd-ed6c79e2a402",
      "name": "Response Node",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1632,
        256
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0ZnWCVvMibFKcFD8",
          "mode": "list",
          "cachedResultUrl": "/workflow/0ZnWCVvMibFKcFD8",
          "cachedResultName": "[GoalDriven] 02 Agent Task Executor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        288
      ],
      "id": "8e718291-79db-44d4-8611-4d6227fd8897",
      "name": "Call '[GoalDriven] 02 Agent Task Executor'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4NeT6zNvKQZRdCP0",
          "mode": "list",
          "cachedResultUrl": "/workflow/4NeT6zNvKQZRdCP0",
          "cachedResultName": "[GoalDriven] 03 Criteria Checker"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        288
      ],
      "id": "c4b4150c-2201-46fb-b6a2-c11662e79ca0",
      "name": "Call '[GoalDriven] 03 Criteria Checker'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Payload Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Validator": {
      "main": [
        [
          {
            "node": "Approval or Invalid Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval or Invalid Router": {
      "main": [
        [
          {
            "node": "Blocked Response Builder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Task Initializer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Initializer": {
      "main": [
        [
          {
            "node": "Agent Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Dispatcher": {
      "main": [
        [
          {
            "node": "Call '[GoalDriven] 02 Agent Task Executor'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criteria Router": {
      "main": [
        [
          {
            "node": "Call '[GoalDriven] 03 Criteria Checker'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criteria Met Router": {
      "main": [
        [
          {
            "node": "Final Reporter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry or Stop Reporter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Reporter": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry or Stop Reporter": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blocked Response Builder": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[GoalDriven] 02 Agent Task Executor'": {
      "main": [
        [
          {
            "node": "Criteria Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[GoalDriven] 03 Criteria Checker'": {
      "main": [
        [
          {
            "node": "Criteria Met Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "2lUgbW9fZsiCVX7l",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "34a7a6e5-11b1-4840-bc2f-c45fdb5242eb",
  "meta": {
    "instanceId": "d9c729e92b662dc5f146ef50d3d545d6cc3b31fd2f3d1ac27bbb3e7d25b09eab"
  },
  "id": "Meby7JZNUAMmR1Pz",
  "tags": []
}
